# Scatterplots color coded by decile

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
df = pd.read_csv("childlode.csv")
df.head()

,csa_name_mod2,company_id,company_name,worked_shifts_0_30,worked_shifts_31_365,fill_rate_f30d,decile_2023
0,"Salt Lake City-Provo-Orem, UT",3,Warehouse Inc.,1,NaN,1.0000,NaN
1,"Salt Lake City-Provo-Orem, UT",4,Bacon Inc,4,8.0,0.2000,NaN
2,"Salt Lake City-Provo-Orem, UT",9,Bacon Inc,2,NaN,0.5000,1.0
3,"Salt Lake City-Provo-Orem, UT",11,Utah Valley Convention Center,24,302.0,0.2308,4.0
4,"Salt Lake City-Provo-Orem, UT",12,Beehive Catering,3,NaN,0.5000,NaN

In [ ]:
# Make the two scatterplots, both with total worked (31-365) as x, one with fill rate f30 as y, and one with total worked f30 as y. color code dots by associated decile.